<ion-content padding>

    <ion-grid>

      <ion-row>
        <ion-col offset-md-3 col-md-6 col-sm-12 >
          <!-- Logo -->
          <ion-row>
            <ion-col text-center>
              <img src="assets/imgs/logo.png" class="login-header">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <h1 ion-text color="light">{{'login.title' | translate}}</h1>
              <p ion-text color="light">{{'login.intro' | translate}}</p>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <!-- Login Form -->
      <ion-row>
        <ion-col class="login-form" offset-md-3 col-md-6 col-sm-12>
          <form [formGroup]="form">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>{{'login.username' | translate}}</ion-label>
                  <ion-input type="text" formControlName="username"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>{{'login.password' | translate}}</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>

      <!-- Login Buttons -->
      <ion-row>
        <ion-col class="login-footer" offset-md-3 col-md-6 col-sm-12>
          <button ion-button round full (click)="onLogin()" [disabled]="!form.valid">{{'login.loginBtn' | translate}}</button>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
