page-login {

  background: url('/assets/imgs/login-background.jpg') center;
  background-size: cover;

  .content {
    background: radial-gradient(#FFDC14, #ffdc1452);
  }

  .login-header {
    height: 150px;
      border-radius: 50%;
    border: 5px solid white;
    padding: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }


}
