<ion-card class="widget" >
  <ion-card-title class="title">
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <div class="widget-title"><ion-icon name="person"></ion-icon> {{'home.accountDetails.title' | translate}}</div>
          <div class="widget-subtitle" text-end>{{'home.accountDetails.customerReference' | translate}} <span *ngIf="accountDetails">{{accountDetails.accountId}}</span></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-title>
  <ion-grid *ngIf="accountDetails">
    <div class="data-section">
      <ion-row>
        <ion-col>
          <h1 class="bold" text-center>£{{accountDetails.costPerMonth}}</h1>
          <p class="sub" text-center>{{'home.accountDetails.perMonth' | translate}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col>
          <p text-center>{{'home.accountDetails.directDebit' | translate}}</p>
          <p text-center class="bold">{{'home.accountDetails.notPayingEnough' | translate}}</p>
          <p text-center>({{'home.accountDetails.endOfPlanBalance' | translate}} £{{accountDetails.endOfPlanBalance}})</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col class="link">
          <p class="bold">{{'home.accountDetails.seeMyPlan' | translate}} <ion-icon name="arrow-forward" float-end></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col class="link">
          <p class="bold">{{'home.accountDetails.makeOneOffPayment' | translate}} <ion-icon name="arrow-forward" float-end></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col class="link">
          <p class="bold">{{'home.accountDetails.payments' | translate}} <ion-icon name="arrow-forward" float-end></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col class="link">
          <p class="bold">{{'home.accountDetails.billing' | translate}} <ion-icon name="arrow-forward" float-end></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>
    <div class="data-section">
      <ion-row>
        <ion-col text-center>
          <p>{{'home.accountDetails.lastMeterReadings' | translate}}</p>
          <p class="bold">{{'home.accountDetails.electricity' | translate}}</p>
          <p>{{accountDetails.lastElectricityMeterReading}}</p>
          <p class="bold">{{'home.accountDetails.gas' | translate}}</p>
          <p>{{accountDetails.lastGasMeterReading}}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-card>
