<ion-card class="widget">
    <ion-card-title class="title">
        <ion-grid no-padding>
            <ion-row>
                <ion-col>
                    <span><ion-icon name="battery-charging"></ion-icon> {{'home.energyUsage.title' | translate}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-title>

    <div>
        <ion-item>
            <ion-label text-end>
                <ion-icon name="home"></ion-icon>
                {{'home.energyUsage.similarHomes' | translate}}
            </ion-label>
            <ion-toggle checked="false" (ionChange)="toggleSimilarHomes()"></ion-toggle>
        </ion-item>
    </div>
    <div class="energy-usage">
        <canvas #barCanvas></canvas>
    </div>
</ion-card>
