page-home {




  ion-card {
    height: 100%;

    max-height: calc(100vh - 270px); // Full height - title & footer

    @media (max-width: 500px) {
      max-height: calc(100vh - 270px - 70px); // Full height - title & footer
    }

    ion-grid {
      height: calc(100% - 88px); // Full height - header height
      overflow: scroll;
    }
  }

  ion-slide {
    height: calc(100vh - 250px) !important;
  }

  .slide-zoom {
    height: calc(100% - 30px);
  }

  .scroll-content {
    margin-top: 170px !important;

    @media (max-width: 500px) {
      margin-top: 125px !important;
    }
  }

}
