<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'home.title' | translate}}
    </ion-title>
  </ion-navbar>
  <page-header></page-header>
</ion-header>

<ion-content no-padding="">



  <ion-grid>

      <!-- Desktop view - Show account overview & energy usage side by side -->
      <ion-row *ngIf="!isMobile()">

        <!-- Account Overview -->
        <ion-col offset-1 col-5 align-self-stretch>
          <account-overview></account-overview>
        </ion-col>

        <!-- Energy Usage -->
        <ion-col col-5 align-self-stretch>
          <energy-usage-chart></energy-usage-chart>
        </ion-col>

      </ion-row>


      <!-- Mobile view - Slide between account overview & energy usage -->
      <ion-row *ngIf="isMobile()">
        <ion-slides [pager]="true" paginationType="bullets">
          <ion-slide>
            <account-overview></account-overview>
          </ion-slide>
          <ion-slide>
            <energy-usage-chart></energy-usage-chart>
          </ion-slide>
        </ion-slides>
      </ion-row>

  </ion-grid>

  <page-footer></page-footer>

</ion-content>
