.widget.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.41);
  border-radius: 15px;
  padding: 0 20px 20px 20px;

  .title {
    border-bottom: 1px solid grey;
    background: #ffdc10;
    margin-left: -20px;
    width: calc(100% + 40px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0;
    padding: 20px;
    min-height: 88px;

    .widget-title {

    }
    .widget-subtitle {
      font-size: 0.6em;
    }
  }

  .data-section {
    border-bottom: 1px solid grey;
    padding: 10px;

    .bold {
      font-weight: bold;
    }

    .large {
      font-size: 2em;
    }

    .sub {
    }

    .link {
      cursor: pointer;

      &:hover {
        background: #ffdc10;
      }
    }
  }
}
