<ion-split-pane when="false">

  <!--
    Render the menu
  -->
  <ion-menu side="left" id="authenticated" [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'menu.title' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item>
          {{'menu.home' | translate}}
        </button>
        <button ion-item>
          {{'menu.myPlan' | translate}}
        </button>
        <button ion-item>
          {{'menu.payments' | translate}}
        </button>
        <button ion-item>
          {{'menu.billing' | translate}}
        </button>
        <button ion-item (click)="logout()">
          {{'menu.logout' | translate}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>
