<ion-grid *ngIf="userDetails">
  <ion-row>
    <ion-col class="welcome" text-lg-start text-center col-12 col-lg-6>
      <h1 ion-text>Good Morning {{userDetails.firstName}}...</h1>
    </ion-col>
    <ion-col class="right-section" text-lg-end text-center col-12 col-lg-6>
      <span class="link" ion-text color="primary"><ion-icon name="home"></ion-icon> Moving home?</span>
      <span class="link" ion-text color="primary"><ion-icon name="person"></ion-icon> Account overview</span>
      <div ion-text class="address">{{userDetails.houseNumberOrName}}, {{userDetails.street}}, {{userDetails.town}}</div>
    </ion-col>
  </ion-row>
</ion-grid>
