page-header {

  ion-grid {
    height: 100px;
    background: #FFDC14;
    border-radius: 0 0 85% 85% / 60%;

    .right-section {

      @media(min-width: 500px) {
        margin-top: -40px;
      }

      .link {
        padding: 10px;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }

      .address {
        margin-top: 10px;
        font-size: 1.2em;
        padding-left: 20px;
      }
    }

    .welcome {
      padding-top: 0;

      h1 {
        font-size: 1.5em;
        margin:0;
      }
    }
  }

}
